.main {
  @include flex-center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;

  #courseHeader {
    font-family: $perpetua;
    width: 100%;
    height: 30%;
    background: black;
    display: flex;
    align-items: flex-end;

    h1 {
      font-size: 5rem;
      color: #fff;
    }
  }

  #courseBody {
    @include flex-center;
    justify-content: space-between;
    padding: 4vw;
    background: white;
    color: black;
    width: 100%;
    height: 80%;

    .details {
      h2 {
        font-size: 3.3rem;
        font-family: $perpetua;
        color: #041d47;
      }

      p {
        font-family: $gillSans;
        font-size: 1.1rem;
        width: 55vw;
        text-align: justify;
      }
    }

    #instructors {
      margin-top: 40px;

      .instructor {
        .instructorImg {
          border-radius: 50%;
          max-width: 120px;
        }
      }
    }
  }

  #courseCard {
    @include flex-center;
    flex-flow: column nowrap;
    position: relative;
    top: -200px;
    background: white;
    color: black;
    padding: 30px 45px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);

    div {
      .cardDetails {
        @include flex-center;
        justify-content: flex-start;

        .icon {
          @include flex-center;
          width: 80px;
          height: 80px;
          border: 4px solid #313131;
          border-radius: 50%;
          font-size: 4rem;
          color: #313131;
        }

        .texts {
          margin-left: 10px;

          p:first-child {
            font-size: 3rem;
            margin-bottom: 0 !important;
          }

          p:nth-child(2) {
            font-size: 1.5rem;
          }
        }
      }
    }

    button {
      width: 90%;
      background: #ff3030;
      border: none;
      font-family: $centuryGothic;
      font-size: 1.6rem;
      color: white;
      padding: 10px 0;
      margin-top: 10px;
    }
  }
}

#coursesMain {
  @include flex-center;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 6vw 2vw;
  margin-top: 8vw;

  #categories {
    @include flex-center;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-right: 1px solid black;
    padding-top: 5vh;
    padding-right: 2.5vw;

    ul {
      list-style: none;
    }
  }

  section#courses-container {
    @include flex-center;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 6vh;
    padding: 2vw;

    .courses-inner-container {
      .course-card {
        @include flex-center;
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid black;
        border-radius: 2px;

        .card-img-top {
          width: 200px;
          height: 200px;
          border-radius: 20px;
        }

        .card-body {
          @include flex-center;

          .card-texts {
            @include flex-center;
            flex-flow: column nowrap;
          }

          .buttons {
            @include flex-center;
            flex-flow: column nowrap;

            a {
              width: 130px;
              margin: 2px;
            }
          }
        }
      }
    }

    #active-courses {
    }

    #archived-courses {
      .course-card {
        background: #ffc9c9;
      }
    }

    .add-btn {
      margin: 2vh;

      h3 {
        font-size: 1.2rem;
      }
    }
  }
}

#addCourseMain {
  @include flex-center;
  flex-flow: column nowrap;
  margin-top: 7vw !important;

  h2 {
    font-family: $perpetua;
    font-size: 3rem;
    border-bottom: 2px solid #fd96b5;
  }

  form {
    background: rgba(43, 5, 18, 0.034);
    box-shadow: 10px 10px 5px 0px rgba(216, 216, 216, 0.75);
    border-radius: 10px;
    padding: 20px;
    width: 50%;

    input,
    textarea {
      margin: 4px;
    }

    button {
      background: #fd96b5;
    }
  }
}
