.main {
  padding-top: 5vw;
}

.inptPass {
  display: flex;
  align-items: center;
  width: 100%;

  // Doesn't work. It only appears on the orig position
  // &:hover {
  //   cursor: pointer;
  // }
}

// Github

.github-corner:hover {
  .octo-arm {
    animation: 'octocat-wave' 900ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

/* 
LOADER!!
 */

.loader-wrapper {
  @include formBg;
  align-items: flex-start;
  background-color: #242f3f;
  z-index: 10000;
}

// .loader {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   position: relative;
//   border: 4px solid #fff;
//   animation: loader 2s infinite ease;
// }

// .loader-inner {
//   vertical-align: top;
//   display: inline-block;
//   width: 100%;
//   background-color: #fff;
//   animation: loader-inner 2s infinite ease-in;
// }

// @keyframes loader {
//   0% {
//     transform: rotate(0deg);
//   }
//   25% {
//     transform: rotate(180deg);
//   }
//   50% {
//     transform: rotate(180deg);
//   }
//   75% {
//     transform: rotate(360deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes loader-inner {
//   0% {
//     height: 0%;
//   }
//   25% {
//     height: 0%;
//   }
//   50% {
//     height: 100%;
//   }
//   75% {
//     height: 100%;
//   }
//   100% {
//     height: 0%;
//   }
// }

#canvas {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.hide {
  display: none !important;
}
