.landing-page {
  height: 112vh;
  width: 100%;
  border-radius: 0 0 100px 100px;
  position: relative;
  @include flex-center;
  overflow: hidden;
  z-index: 1;

  // filter
  .color-overlay {
    position: absolute;
    top: -$videoY - 9px;
    left: 0;
    background: #0d172b;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  header {
    @include flex-center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    background-color: transparent !important;
    z-index: 2;
    color: white;
    margin-bottom: 100px;
    cursor: default;

    h1 {
      background: transparent;
      font-family: $perpetua;
      font-size: 6rem;
      padding-top: 0 20px;
      margin: 5px 15px;

      span {
        color: #fc5185;
      }
    }

    p {
      text-align: center;
      width: 600px;
      font-size: 1.5rem;
      font-family: $centuryGothic;
      color: #dedede;
    }

    a {
      font-family: $arialRound;
      text-decoration: none;
      border: 1px solid #fc5185;
      color: #fe7aab;
      background: #00262b41;
      padding: 5px 20px;
      margin-top: 40px;
      border-radius: 30px;
      font-size: 1.7rem;

      &:hover {
        background: #00262bb6;
      }
    }

    i {
      @include flex-center;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.295);
      color: rgba(255, 255, 255, 0.295);
      border-radius: 50%;
      font-size: 2.5rem;
      position: relative;
      top: 20vh;

      &:hover {
        border: 1px solid white;
        color: white;
        cursor: pointer;
      }
    }
  }

  .video-container {
    position: absolute;
    height: 112vh;
    width: auto;
    top: $videoY;
    left: 0px;

    video {
      height: 112%;
    }
  }
}
