@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin formBg {
  @include flex-center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
