@font-face {
  font-family: perpetua;
  src: url('../asset/Fonts/Perpetua/Perpetua.TTF');
}

@font-face {
  font-family: 'Bookman';
  // src: url('../asset/Fonts/bookman/Bookman\ Bold.ttf');
  src: url('../asset/Fonts/bookman/Bookman\ Bold.ttf');
}

@font-face {
  font-family: 'century gothic';
  src: url('../asset/Fonts/Century\ Gothic/GOTHIC.TTF');
}

@font-face {
  font-family: 'gill sans';
  src: url('../asset/Fonts/Gill\ Sans/GIL_____.TTF');
}

$primary: #024;
$videoY: -70px;

// FONTS
$perpetua: 'perpetua', 'serif';
$arialRound: 'arial rounded mt', 'sans-serif';
$centuryGothic: 'century gothic', $arialRound;
$bookman: 'bookman', $centuryGothic;
$gillSans: 'gill sans', $centuryGothic;

$iphoneX: map(y=100px, x=200px);

// @function get($) {
//     @return map-get()
// }
